@CHARSET "UTF-8";
*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: sans-serif;
	
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
}

body{
	padding:0;
	maring:0;
	font-family:Arial;
	font-size: 16px;
	background-color:#F0F0F0;
}
#toolbar{
	 width:100%;
	 height:50px;
	 padding: 10px;
	 position: fixed;
	 top: 0;
	 background-color: #666666;
	 color:white;
}

.lencontrol{
	width: 30px;
	heigth: 30px;
	background-color: #888888 ;
	display: inline-block;
	text-align: center;
	padding: 5px;
}
#nav_wrapper{
	display:inline-block;
	margin-left: 15px;
	padding-bottom:5px;
}

#colors{
	float: right;
	margin-right: 10px;
	display: inline-block;
}
.btn-primary{
	background-color:gray;
	border-color:white;
}
.dropdown-item.list-group-item{
	text-align:center;
	font-size: 100%;
	color:white;
}

#lineWidth{
	float: left;
	display: inline-block;
}
.swatch{
	width:30px;
	height:30px;
	border-radius: 15px;
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5), 0px 2px 2px rgba(0,0,0,0.5);
	display: inline-block;
	margin-left: 10px;
	
}
.swatch.active{
	border: 2px solid white;
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
}